/* 导入全局变量 */
@import '../../styles/main.scss';
@import '../../uni.scss';

.container {
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: $padding-container;
  margin-bottom: $margin-bottom-item;
}

.title {
  color: $secondary-color;
  font-size: $font-size-title;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  color: $uni-color-paragraph;
  font-size: $font-size-subtitle;
  text-align: center;
  margin-bottom: $margin-bottom-item;
}

.countdown-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  justify-content: center;
  margin-top: $margin-bottom-item;

  .countdown-item {
    border-radius: $border-radius;
    padding: $padding-container;
    text-align: center;
    // margin-bottom: $margin-bottom-item;

    &.pink {
      background-color: $pale-pink;
      color: $coral-pink;
    }

    &.blue {
      background-color: $sky-blue;
      color: $light-steel-blue;
    }

    .countdown-value {
      font-size: $font-size-countdown-value;
      // margin-bottom: 10px;
    }

    .countdown-label {
      font-size: $font-size-countdown-label;
	  color: $gray-blue;
    }
  }
}